@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply scroll-smooth overflow-x-hidden;
  }

  * {
    @apply transition-all;
  }
}

@layer components {
  /* button component style */
  button {
    @apply relative bg-100% z-[100] hover:before:opacity-100;
  }
  button::before {
    @apply content-[""] block absolute w-full h-full top-0 left-0 z-[-100] opacity-0 rounded-[inherit] transition-opacity duration-500 ease-in-out bg-primary_gradient_hover shadow-button_hover;
  }

  /* border animation for hover effect of menu */
  .animate-border {
    @apply hover:after:scale-100;
  }
  .animate-border::after {
    @apply content-[""] absolute w-full h-[2px] left-px -bottom-[6px] bg-white transition-all origin-left duration-300 ease-in scale-0;
  }
}

#nprogress .bar {
  @apply bg-white;
}

#nprogress .peg {
  @apply shadow-nprogress_peg;
}
#nprogress .spinner-icon {
  @apply border-t-white border-l-white;
}

.swiper-pagination {
  @apply bottom-0;
}
.swiper-pagination-bullet {
  @apply bg-white_56 opacity-90;
}
.swiper-pagination-bullet-active {
  @apply bg-#fff;
}

.swiper-button-prev,
.swiper-button-next {
  top: 60%;
  width: 25px;
  height: 25px;
  background: #fff;
  outline: 0;
  border-radius: 50%;
  color: black;
  font-weight: 700;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.swiper-button-prev::after {
  font-weight: bold;
  font-size: 12px;
  @apply relative -left-[1px];
}
.swiper-button-next::after {
  font-weight: bold;
  font-size: 12px;
  @apply relative left-1;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
